.about{
    background-color: transparent;
    font-size: 1.1em;
       background-color: rgba(255, 255, 255, 0.911);
       padding-top: 100px;
       padding-bottom: 100px;
}
.about-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
  margin-top: 50px;
}
.my-details{
   background-color: #fff;
    margin-right:-100px;
}

@media(max-width:768px){
 
   .left-info img{
    display: none;
   }
   .row .my-details{
     width: 100%;
   }

}
